<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p *ngIf="stateManager.showStartParagraph" class="py-4 text-center">
      In this task, you will see a grid of numbers. Read the numbers off as quickly and clearly as you can, from
      left-to-right
      and top-to-bottom. For the example grid below, you would say:
      “Two Two Five Six Nine Seven Three Two Five One Five Eight”.
    </p>
    <div *ngIf="showExample" class="text-center">
      <img class="img-fluid mainImage" src="assets/in_use/examples/img/example_ran.png"
        style="margin-bottom: 20px; max-height: 350px;" />
    </div>
  </div>
  <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
    <div *ngIf="!stateManager.isInAssessment">
      <img *ngIf="!stateManager.finishedInstruction && stateManager.playingInstruction" style="max-height:85px;"
        class="img-fluid" src="assets/in_use/animations/random_waveform.gif">
      <button *ngIf="stateManager.finishedInstruction && !stateManager.playingInstruction" type="button"
        class="start-button btn btn-success"
        (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      <button *ngIf="!stateManager.finishedInstruction && !stateManager.playingInstruction" type="button"
        class="start-button btn btn-success" (click)="stateManager.playInstructions()">
        Start Instruction
      </button>
    </div>
    <div *ngIf="stateManager.isInAssessment">
      <button type="button" class="start-button btn btn-success"
        (click)="advance()">{{stateManager.textOnInnerAssessmentButton}}</button>
    </div>
  </div>
</div>
<div class="text-center">
  <button type="button" class="stop-button btn btn-outline-secondary"
    *ngIf="audioRecordingService.isCurrentlyRecording()" (click)="stopEarly()">Click this when Done</button>
</div>
<div class="imageParent" *ngIf="showImage">
  <img class="rounded mainImage" src="{{currentImagePrompt}}">
</div>

<div>
  <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
</div>
<div *ngIf="showProgressAnimation && useCountdownBar">
  <div style="padding-top:20px"></div>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <div class="text-center">
    Wait
  </div>
</div>
<div *ngIf="showCircleAnimation && useCountdownCircle">
  <mat-spinner style="margin:0 auto;">
  </mat-spinner>
  <div class="text-center">
    Wait
  </div>
</div>
