<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      In this assessment, there will be a three second count-down,
      then you will see a grid of shapes or a grid of numbers. Read off the numbers or shapes as quickly as you can,
      from left to right and from top to bottom. When you are finished, press the "DONE" button at the bottom of the
      page.
    </p>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <button *ngIf="!stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      <button *ngIf="stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="finishAssessment()">{{stateManager.textOnInnerAssessmentButton}}</button>
    </div>
  </div>
  <div class="imageParent" *ngIf="showImage">
    <img class="rounded" src="assets/in_use/img/ran/ran_1.png">
  </div>
  <div class="text-center" *ngIf="audioRecordingService.isCurrentlyRecording()">
    <img class="img-fluid mt-4" style="width: 120px; height: 120px;" src="assets/in_use/icons/recording_mic.png">
    <p class="text-center py-4">You are recording.</p>
  </div>
  <div class="text-center">
    <button type="button" class="stop-button btn btn-outline-secondary" *ngIf="audioRecordingService.isCurrentlyRecording()"
      (click)="stopEarly()">DONE</button>
  </div>
  <!-- <button type="button" class="cancel-button btn btn-danger" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button> KRM: For debugging usage only. -->
  <!-- <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div> -->
  <!-- </div> -->
  <!-- <div>
    <audio *ngIf="!isRecording && blobUrl"  controls>
      <source [src]="blobUrl" type="audio/webm">
    </audio>
</div> KRM: For debugging usage only. -->
  <p *ngIf="countingDown" class="text-center display-1">{{timeLeft}}</p>
</div>
