header {
    width: 100%;
    .logo {
      background-image: url('../../assets/in_use/icons/logo.png');
      width: 50px;
      height: 50px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .links {
      color: white;
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 15px;
      font-weight: initial;
      letter-spacing: -1px;
      line-height: 1;
      text-align: center;
      padding: 15px;
      &.side {
        padding: 0 14px;
      }
    }
    .mat-toolbar {
      background: black;
    }
    .mat-icon {
      vertical-align: middle;
      margin: 0 5px;
    }
    a {
      cursor: pointer;
    }
  }
  
  .sidenav {
    height: 100vh;
    width: 160px;
    float: left;
    position: absolute;
    background-color: rgb(214, 213, 213);
    
    div{
      padding-top: 25px;
      button{
        color: rgb(0, 0, 0);
        background-color: transparent;
        border:2px solid black;
        padding-top : 2px;
      }
      button:active{
        color: rgb(214, 213, 213);
        background-color: black;
      }
      p{
        text-align:center;
        font-weight:550; 
        padding:8px;
      }
    }
  }
  .sidenavBlue {
    height: 100vh;
    width: 160px;
    float: left;
    position: absolute;
    background-color: #6CC3D5;
    align-items: center;
  }
  .recording {
    z-index: 2;
    position: sticky; top:0;
    height: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .warning {
    z-index: 100;
    position: sticky; 
    padding-top:20px;
    height: 30px;
    background-color: #6CC3D5; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  .blink {
    -webkit-animation: blink 4s linear infinite;
    -moz-animation: blink 4s  linear infinite;
    -ms-animation: blink 4s  linear infinite;
    -o-animation: blink 4s  linear infinite;
     animation: blink 4s  linear infinite;
  }
  @-webkit-keyframes blink {
    0% { opacity: .75; }
    50% { opacity: .5; }
    75% { opacity: .25; }
    100% { opacity: .15; }
  }
  @-moz-keyframes blink {
    0% { opacity: .75; }
    50% { opacity: .5; }
    75% { opacity: .25; }
    100% { opacity: .15; }
  }
  @-ms-keyframes blink {
    0% { opacity: .75; }
    50% { opacity: .5; }
    75% { opacity: .25; }
    100% { opacity: .15; }
  }
  @-o-keyframes blink {
    0% { opacity: .75; }
    50% { opacity: .5; }
    75% { opacity: .25; }
    100% { opacity: .15; }
  }
  @keyframes blink {
    0% { opacity: .75; }
    50% { opacity: .5; }
    50.01% { opacity: .25; }
    100% { opacity: .15; }
  }
