<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <img src="assets/logo.png" height="50" class="navbar-brand" />
    <a class="navbar-brand" href="https://michaelson.lab.uiowa.edu/">Michaelson Lab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li>
          <ng-container *ngIf="updateHeader(); then resumeAssessment; else Home">
          </ng-container>
          <ng-template #resumeAssessment>
            <a class="nav-link" [routerLink]="['/assessments/', dataService.getCurrentAssessment()]">Resume <span class="sr-only">(current)</span></a>
          </ng-template>
          <ng-template #Home>
            <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
          </ng-template>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['contact']">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
