<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p *ngIf="stateManager.showStartParagraph" class="py-4 text-center">
      In this task, you will be shown a set of related pictures. Select the
      image that you feel best fits in with the others.
    </p>
  </div>
  <div
    *ngIf="stateManager.showInnerAssessmentButton"
    class="text-center button-down"
  >
    <div *ngIf="!stateManager.isInAssessment">
      <img
        *ngIf="
          !stateManager.finishedInstruction && stateManager.playingInstruction
        "
        style="max-height:85px;"
        class="img-fluid"
        src="assets/in_use/animations/random_waveform.gif"
      />
      <button
        *ngIf="
          stateManager.finishedInstruction && !stateManager.playingInstruction
        "
        type="button"
        class="start-button btn btn-success"
        (click)="setStateAndStart()"
      >
        {{ stateManager.textOnInnerAssessmentButton }}
      </button>
      <button
        *ngIf="
          !stateManager.finishedInstruction && !stateManager.playingInstruction
        "
        type="button"
        class="start-button btn btn-success"
        (click)="stateManager.playInstructions()"
      >
        Start Instruction
      </button>
    </div>
    <div *ngIf="stateManager.isInAssessment"class="somePadding">
      <button
        type="button"
        class="start-button btn btn-success"
        (click)="advance()"
      >
        {{ stateManager.textOnInnerAssessmentButton }}
      </button>
    </div>
  </div>
</div>
<div *ngIf="showMatrix">
  <div class="wrapTables">
  <table class = "table" style="margin:auto">
    <tbody>
      <tr *ngFor="let row of imagePromptStructure['frameSets'][promptNumber]">
        <td *ngFor="let image of row">
          <img class="img-fluid mainImage" [src]="image" />
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table" >
      <tbody>
        <tr
          *ngFor="let row of imagePromptStructure['solutionSets'][promptNumber]"
          class="table-primary"
        >
          <td *ngFor="let image of row">
            <button
              type="button"
              class="btn buttomButtons"
              (click)="clickImage(image)"
            >
              <img class="img-fluid buttomImages" [src]="image" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
</div>
<div>
  <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">
    {{ timeLeft }}
  </p>
</div>
<div *ngIf="showProgressAnimation && useCountdownBar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <div class="text-center">
    Wait
  </div>
</div>
<div *ngIf="showCircleAnimation && useCountdownCircle">
  <div class="text-center">
    Wait
  </div>
  <mat-spinner style="margin:0 auto;"> </mat-spinner>
  
</div>
<div *ngIf="showMatrix" class="text-center permission">Images used with kind permission of the UK Biobank</div>

