<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      In this task, you will listen to an audio clip. When the clip ends,
      pick the image that matches what you heard. We'll
      do a practice round so you get the idea.
    </p>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <div *ngIf="!stateManager.isInAssessment">
        <img *ngIf="playingInstruction" style="max-height:85px;" class="img-fluid"
          src="assets/in_use/animations/random_waveform.gif">
        <button *ngIf="!playingInstruction" type="button" class="start-button btn btn-success"
          (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="playingAudio">
    <!-- <button type="button" class="start-button btn-lg btn-warning mr-2 mb-2">Listen</button> -->
    <img style="max-height:85px;" class="img-fluid" src="assets/in_use/animations/random_waveform.gif">
  </div>
  <div *ngIf="showImage">
    <table style="margin: 0 auto;">
      <tbody>
        <tr *ngFor="let row of imagePaths">
          <td *ngFor="let image of row">
            <button type="button" class="btn btn-outline-primary" (click)="clickImage(image)">
              <img class="img-fluid" [src]="image">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
  </div>
  <div *ngIf="showProgressAnimation && useCountdownBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="showCircleAnimation && useCountdownCircle">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
  </div>
</div>
