<div class="mx-lg-5">
  <div *ngIf="splashPage && !dataService.isAssessmentCompleted('listeningcomprehension')">
    <p class="py-4">
      In this task, you will listen to an audio clip. When the clip ends,
      pick the image that matches what you heard. We'll
      do a practice round so you get the idea.
    </p>
    <div class="text-center">
      <button *ngIf="showStartButton" type="button" class="start-button btn btn-success" (click)="startAudioInstructionForSet()">{{textOnButton}}</button>
    </div>
  </div>
  <div *ngIf="showImage">
    <table style="margin: 0 auto;">
      <tbody>
        <tr *ngFor="let row of imagePaths">
          <td *ngFor="let image of row">
            <img class="img-fluid" [src]="image" (click)="selectImage(image)">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="countingDown" class="text-center display-1">{{timeLeft}}</p>
</div>
