<div class="mx-lg-5">
  <div *ngIf="splashPage && !dataService.isAssessmentCompleted('pictureprompt')">
    <p class="py-4">
      In this task, you will be shown a picture. Describe what you see in the picture, as if you were describing it to
      someone who could not see the picture. With each picture, your description will be recorded for 30 seconds.
    </p>
    <div class="text-center">
      <button type="button" class="start-button btn btn-success" (click)="advanceToNextPrompt()">Start
        assessment</button>
    </div>
  </div>
  <div class="imageParent" *ngIf="showPromptImage">
<img class="rounded img-fluid" src="{{currentImagePrompt}}">
  </div>
  <div class="text-center">
    <button type="button" class="stop-button btn btn-outline-secondary" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">DONE</button>
    <!-- Done button is for debugging only for this assessment -->
    <!-- <button type="button" class="cancel-button btn btn-danger" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear Recording</button> KRM: For debugging usage only. -->
    <!-- <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div> Not needed for this assessment -->

  </div>
  <!-- <div>
    <audio *ngIf="!isRecording && blobUrl"  controls>
      <source [src]="blobUrl" type="audio/webm">
    </audio>
</div> KRM: For debugging usage only. -->
  <p *ngIf="countingDown" class="text-center display-1">{{timeLeft}}</p>
</div>
