<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      In this task, you will be shown a picture. Describe what you see in the
      picture, as if you were describing it to someone who could not see the
      picture. With each picture, your description will be recorded for 30
      seconds.
    </p>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <button *ngIf="!stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="setStateAndStart()">
        {{ stateManager.textOnInnerAssessmentButton }}
      </button>
      <button *ngIf="stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="advance()">
        {{ stateManager.textOnInnerAssessmentButton }}
      </button>
    </div>
  </div>
  <div *ngIf="showPromptImage" class="text-center">
    <img class="img-fluid" src="{{ currentImagePrompt }}" />
  </div>
  <div class="text-center" *ngIf="audioRecordingService.isCurrentlyRecording()">
    <img class="img-fluid mt-4" style="width: 120px; height: 120px;" src="assets/icons/recording_mic.png" />
    <p class="text-center py-4">You are recording.</p>
  </div>
  <p *ngIf="countingDown" class="text-center display-1">{{ timeLeft }}</p>
</div>
