:host ::ng-deep .material-wavesurfer {

  .mat-icon {
    color: #00F;
  }

  .ws {
    height: 100%;
    flex: 1;
    position: relative;

    .mat-progress-bar {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .mat-progress-bar-fill {
        transition: none;

        &::after {
          background-color: rgba(#00F, 0.2);
        }
      }

      .mat-progress-bar-background {
        fill: transparent;

      }

      .mat-progress-bar-buffer {
        background: transparent;
      }
    }
  }

  padding-right: 0;
  padding-left: 0;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

  &.playing {
    .mat-icon {
      color: #00F;
    }
  }
}

mat-spinner {
  margin: 0 auto;
  margin-bottom: 15px;
}

button-push-down {
  margin-bottom: 50px;
}

btn {
  margin-bottom: 4px;
  white-space: normal;
}
