<div class="mx-lg-5">
  <p class="py-4 text-center">
    Before we get started, we need to make sure your speakers/headphones and microphone are working properly.
  </p>
  <div *ngIf="!testedAudio && !cantHear" class="text-center">
    <p class="py-4">
      We will play an audio track so you can see if you can hear through your speakers/headphones properly. If you
      can't hear
      the audio, we'll
      give you an opportunity to troubleshoot the audio output on your device on your end before letting you try
      again.
    </p>
    <button *ngIf="!playingAudio" type="button" class="start-button btn btn-info" (click)="playPause()">Start
      Testing Audio</button>
    <div *ngIf="heardOnce">
      <mat-spinner [color]="accent" class="text-center"></mat-spinner>
      <button type="button" class="start-button btn btn-success mr-2 mb-2" (click)="completeAudioTest()">I can
        hear the audio properly. Continue.</button>
      <button type="button" class="start-button btn btn-danger mb-2" (click)="waitForTroubleshoot()">I
        can't hear the audio.</button>
    </div>
  </div>
  <div *ngIf="cantHear" class="text-center">
    <p class="py-4">
      Tune the audio output device on your end to ensure that it is not muted and that its volume is turned up far
      enough. When you
      are ready to try the audio diagnostics again, press the button.
    </p>
    <button type="button" class="start-button btn btn-info" (click)="tryAudioAgain()">Try Audio Test Again</button>
  </div>




  <div *ngIf="testedAudio" class="text-center">
    <p class="py-4">Testing Microphone</p>
    <div class="text-center">
      <button type="button" class="start-button btn btn-success" (click)="startRecording()">Start recording test</button>
      <button type="button" class="stop-button btn btn-outline-secondary" *ngIf="isRecording && !blobUrl" (click)="stopRecording()">DONE</button>
      <button type="button" class="cancel-button btn btn-danger" *ngIf="!isRecording && blobUrl" (click)="clearRecordedData()">Clear
        Recording</button>
      <div *ngIf="isRecording && !blobUrl"> {{recordedTime}} </div>
      <button *ngIf="!isRecording&& blobUrl" type="button" class="start-button btn btn-info" (click)="playPause()">Start</button>
    </div>
    <div class="wavesurfer" #wavesurfer></div>
  </div>
  <div *ngIf="showWaveForm" class="ws">
    <div class="wavesurfer" #wavesurfer></div>
  </div>
</div>
