<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4">
      In this task, you will be presented with a word at the top of the screen,
      and below it nine other words. Select a word from below that you feel goes
      with the first word. The words at the bottom will then move to the top and the
      words and the bottom will change. Select a word from the bottom that you feel
      goes with the word you just chose. This will repeat several times.
    </p>
    <div>
      <!-- TODO: Here will go the GIF helper -->
    </div>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <button *ngIf="!stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      <button *ngIf="stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="advance()">{{stateManager.textOnInnerAssessmentButton}}</button>
    </div>
  </div>
  <div *ngIf="showWords">
    <table class="table-bordered table-active custom-table">
      <tbody>
        <tr>
          <td *ngFor="let word of selectedWords">
            {{ word }}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table-bordered" style="margin: 0px auto;">
      <tbody>
      <tbody>
        <colgroup>
          <col style="width: 33%" />
          <col style="width: 33%" />
          <col style="width: 33%" />
        </colgroup>
        <tr *ngFor="let row of currentPromptMatrix">
          <td *ngFor="let word of row">
            <button type="button" class="btn btn-light" style="width:100%; color:black" (click)="clickWord(word)"> {{
              word }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="countingDown" class="text-center display-1">{{timeLeft}}</p>
</div>
