<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      In this task, you will be presented with a word at the top of the screen. At the bottom of the screen will be
      several
      other words. Select one of these words based on the first word.
    </p>
    <div *ngIf="showExample" class="text-center">
      <img class="img-fluid" src="assets/in_use/examples/animations/wordassociation_example.gif"
        style="margin-bottom: 20px;" />
    </div>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <button *ngIf="!stateManager.isInAssessment" type="button" class="start-button btn btn-success"
        (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      <button *ngIf="stateManager.isInAssessment" type="button" class="start-button btn btn-success"
        (click)="advance()">{{stateManager.textOnInnerAssessmentButton}}</button>
    </div>
  </div>
  <div *ngIf="showWords">
    <div *ngFor="let word of selectedWordsThisPrompt; let i = index" class="row justify-content-center"
      style="margin: 5px;">
      <ng-container *ngIf="i === selectedWordsThisPrompt.length - 1; then thenTemplate; else elseTemplate">
      </ng-container>
      <ng-template #thenTemplate>
        <div class="border border-danger rounded"
          style="color:crimson; padding: 3px; font-size: 120%; font-weight: bold;">
          {{ word }}
        </div>
      </ng-template>
      <ng-template #elseTemplate>
        <div class="border border-white" style="color: gray">
          {{ word }}
        </div>
      </ng-template>
    </div>
    <div *ngFor="let row of currentPromptMatrix" class="row">
      <div *ngFor="let word of row" class="col-sm-4">
        <button type="button" class="btn btn-light" style="width:100%; color:black; margin: 5px;"
          (click)="clickWord(word)">
          {{ word }}
        </button>
      </div>
    </div>
  </div>
  <div>
    <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
  </div>
  <div *ngIf="showProgressAnimation && useCountdownBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="showCircleAnimation && useCountdownCircle">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
  </div>
</div>
