<ng-container *ngIf="dataService.showWelcome() then welcome; else inAssessment"></ng-container>
<ng-template #welcome>
  <div class='py-4 text-center'>
    {{dataService.welcomeText}}
  </div>
</ng-template>
<ng-template #inAssessment>
  <router-outlet></router-outlet>
</ng-template>
<div *ngIf="dataService.showButton() && dataService.currentAssessment != 'done'">
  <div class='py-4 text-center'>
    <div *ngIf="dataService.showThankYou()">
      <p class="pt4"> Thank you for completing this assessment.</p>
    </div>
    <button *ngIf="this.dataService.isAssessmentCompleted(this.dataService.getCurrentAssessment())" type='button' class='btn btn-primary btn-lg' (click)="dataService.nextAssessment()">{{dataService.textOnStartButton}}</button>
  </div>
</div>
<div *ngIf="dataService.DEBUG_MODE" class="py-4 text-center">
  <button type='button' class='btn btn-outline-danger btn-lg button-down' (click)="dataService.nextAssessmentDebugMode()">DEBUG
    ENABLED: NEXT
    ASSESSMENT</button>
  <button type='button' class='btn btn-outline-danger btn-lg button-down' (click)="dataService.deleteCookiesDebugMode()">DEBUG
    ENABLED: CLEAR ALL COOKIES</button>
</div>
