<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      You will listen to a sentence. Once the sentence is finished, the screen
      will advance automatically and you will be asked to repeat the sentence
      back.
    </p>
  </div>
  <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
    <button *ngIf="!stateManager.isInAssessment" type="button" class="start-button btn btn-success"
      (click)="setStateAndStart()">
      {{ stateManager.textOnInnerAssessmentButton }}
    </button>
    <button *ngIf="stateManager.isInAssessment" type="button" class="start-button btn btn-success" (click)="advance()">
      {{ stateManager.textOnInnerAssessmentButton }}
    </button>
  </div>
  <div class="text-center" *ngIf="playingAudio">
    <!-- <button type="button" *ngIf="playingAudio" class="start-button btn-lg btn-warning mr-2 mb-2">Listen</button> -->
    <img class="img-fluid mt-4" src="assets/in_use/animations/random_waveform.gif" />
  </div>
  <div class="text-center" *ngIf="audioRecordingService.isCurrentlyRecording()">
    <img class="img-fluid mt-4" style="width: 120px; height: 120px;" src="assets/in_use/icons/recording_mic.png" />
    <p class="py-4">You are recording. <br>Repeat the sentence.</p>
  </div>
  <div>
    <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
  </div>
  <div *ngIf="showProgressAnimation && useCountdownBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="showCircleAnimation && useCountdownCircle">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
  </div>
</div>
