<div class="pb-5 text-center">
  <p class="py-4 text-center">All assessments have been completed.</p>
  <div>
    <form
      ngNoForm
      action="https://workersandbox.mturk.com/mturk/externalSubmit"
      method="POST"
      id="mturk"
    >
      <input
        type="text"
        id="assignmentId"
        name="assignmentId"
        [value]="stateManager.MTurkAssignmentId"
      />
      <button type="submit" class="btn btn-primary btn-lg button-down">
        Go home
      </button>
    </form>
  </div>
</div>
