<div class="pb-5 text-center">
  <p class="py-4 text-center">All assessments have been completed.</p>
  <div>
    <form
      action="https://workersandbox.mturk.com/mturk/externalSubmit"
      method="POST"
    >
      <input
        type="text"
        name="assignmentId"
        [value]="stateManager.MTurkAssignmentId"
      />
    </form>
    <input type="submit" value="Finish" />
    <button class="btn btn-primary btn-lg button-down" [routerLink]="['/home']">
      Go home
    </button>
  </div>
</div>
