<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      You will be shown a letter. Say as many words as you can that begin with this letter. You will have 30 seconds for
      each letter shown to you.
    </p>
  </div>
  <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
    <div *ngIf="!stateManager.isInAssessment">
      <img *ngIf="!stateManager.finishedInstruction && stateManager.playingInstruction" style="max-height:85px;" class="img-fluid"
        src="assets/in_use/animations/random_waveform.gif">
      <button *ngIf="stateManager.finishedInstruction && !stateManager.playingInstruction" type="button" class="start-button btn btn-success"
        (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      <button *ngIf="!stateManager.finishedInstruction && !stateManager.playingInstruction" type="button" class="start-button btn btn-success"
        (click)="stateManager.playInstructions()">
        Start Instruction
      </button>
    </div>
    <div *ngIf="stateManager.isInAssessment">
      <button type="button" class="start-button btn btn-success"
        (click)="advance()">{{stateManager.textOnInnerAssessmentButton}}</button>
    </div>
  </div>
  <div *ngIf="audioRecordingService.isCurrentlyRecording() && showLetter" class="text-center">
    <p class="text-center display-1">{{ currentLetter }}</p>
    <img class="img-fluid mt-4" style="width: 120px; height: 120px;" src="assets/in_use/icons/recording_mic.png" />
    <p class="py-4">You are recording.</p>
    <p class="text-center">Say words that start with with the letter.</p>
  </div>
  <div>
    <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
  </div>
  <div *ngIf="showProgressAnimation && useCountdownBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="showCircleAnimation && useCountdownCircle">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
  </div>
</div>
