<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <form [formGroup]="dataForm" (ngSubmit)="postData()">
      <!-- <div class="form-group text-center pt-4">
        <mat-form-field class="form-group">
          <input matInput [matDatepicker]="picker" placeholder="Your date of birth" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="startDate" #picker></mat-datepicker>
        </mat-form-field>
      </div> -->
      <div class="form-group text-center pt-4">
        <mat-form-field class="form-group">
          <input matInput placeholder="First Name" formControlName="firstName">
        </mat-form-field>
      </div>
      <div class="form-group text-center pt-4">
        <mat-form-field class="form-group">
          <input matInput placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </div>
      <div class="form-group text-center pt-4">
        <mat-form-field class="form-group">
          <input matInput placeholder="ID" formControlName="id">
        </mat-form-field>
      </div>
      
  
      <div class="text-center">
        <button type='submit' [disabled]="!dataForm.valid" class='btn btn-primary btn-lg'>Continue</button>
      </div>
    </form>
  </div>
  <!-- <div *ngIf="englishNotFirstLanguage" class="text-center">
    <p class="py-4 text-center">
      Sorry, we ask that English is the first language of our participants.
    </p>
    <button class='btn btn-primary btn-lg' (click)="stateManager.goHome()">Go Home</button>
  </div> -->
</div>
