<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <form [formGroup]="dataForm" (ngSubmit)="postData()">
      <!-- <div class="form-group text-center pt-4">
        <mat-form-field class="form-group">
          <input matInput [matDatepicker]="picker" placeholder="Your date of birth" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker [startAt]="startDate" #picker></mat-datepicker>
        </mat-form-field>
      </div> -->
      <div class="form-group text-center pt-4">
        <mat-form-field class="form-group">
          <input matInput placeholder="Current Age (In Years)" formControlName="currentAge">
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <mat-form-field>
          <mat-select placeholder="Highest Education" formControlName="highestEducation">
            <mat-option *ngFor="let educationOption of educationOptions" [value]="educationOption">
              {{educationOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <mat-form-field class="form-group">
          <mat-select placeholder="Current Ocupation" formControlName="currentOccupation">
            <mat-option *ngFor="let currentOccupation of currentOccupationOptions" [value]="currentOccupation">
              {{currentOccupation}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="isStudentOccupation()">
        <div class="form-group text-center">
          <mat-form-field class="form-group">
            <input matInput placeholder="Major of Study" formControlName="majorOfStudy">
          </mat-form-field>
        </div>
      </div>
      <div class="form-group text-center">
        <mat-form-field class="form-group">
          <mat-select placeholder="Annual Income" formControlName="annualIncome">
            <mat-option *ngFor="let annualIncomeOption of annualIncomeOptions" [value]="annualIncomeOption">
              {{annualIncomeOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <mat-form-field class="form-group">
          <mat-select placeholder="Gender" formControlName="gender">
            <mat-option *ngFor="let genderOption of genderOptions" [value]="genderOption">
              {{genderOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <mat-form-field class="form-group">
          <mat-select placeholder="Race" formControlName="race">
            <mat-option *ngFor="let raceOption of raceOptions" [value]="raceOption">
              {{raceOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group text-center">
        <mat-form-field class="form-group">
          <mat-select placeholder="Ethnicity" formControlName="ethnicity">
            <mat-option *ngFor="let ethnicityOption of ethnicityOptions" [value]="ethnicityOption">
              {{ethnicityOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="text-center">
        <button type='submit' [disabled]="!dataForm.valid" class='btn btn-primary btn-lg'>Continue</button>
      </div>
    </form>
  </div>
  <!-- <div *ngIf="englishNotFirstLanguage" class="text-center">
    <p class="py-4 text-center">
      Sorry, we ask that English is the first language of our participants.
    </p>
    <button class='btn btn-primary btn-lg' (click)="stateManager.goHome()">Go Home</button>
  </div> -->
</div>
