<div class="mx-lg-5">
  <div *ngIf="splashPage && !assessmentAlreadyCompleted">
    <p class="py-4">
      In this task, you will listen to an audio clip. When the clip ends,
      pick the image that matches what you heard. We'll
      do a practice round so you get the idea.
    </p>
    <div class="text-center">
      <button type="button" class="start-button btn btn-success" (click)="startDisplayedCountdownTimer()">Start
        assessment</button>
    </div>
  </div>
  <div class="imageParent" *ngIf="showImage">
    <table>
      <div *ngFor="let imageLocation of imagePaths">
        <tbody>
          <img class="rounded" [src]="imageLocation" [alt]="imageLocation">
        </tbody>
      </div>
    </table>
  </div>
  <p *ngIf="countingDown" class="text-center display-1">{{timeLeft}}</p>
  <div class="text-center" *ngIf="dataService.checkCookie('readingcomprehension')">
    <p class="pt4"> Thank you for completing this assessment.</p>
  </div>
</div>
