/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


$custom-typography: mat-typography-config(
    $font-family: 'Exo'
);

@include mat-core($custom-typography);

/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';

$custom-typography: mat-typography-config(
    $font-family: 'Poppins'
);

@include mat-core($custom-typography);

body {
  background-color: #f4f3f3;
  margin: 0;
  app-root * {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }
}
