<div *ngIf="!stateManager.chromeiOs">
  <p>
    Thank you for your interest! The purpose of this HIT is to test an 
    interactive online assessment for english language ability. To successfully
    complete this HIT, <b>english must be your first langauge</b> and your 
    computer must have <b>functing speakers and a microphone</b>. 
  </p>
  <p>
    This HIT is estimated to take between 20 and 30 minutes to complete. At the 
    end, you will be presented with a free text box. Please let us know about
    any tecnical difficulties or other feedback that you have, 
  </p>
  <p>
    When you are ready to begin, 
    <b>please click the START button below.</b>
  </p>
  <div class="pb-5 text-center">
    <div *ngIf="stateManager.loadingState">
      <button type="button" class="btn btn-info btn-lg" disabled>
        Loading. Please wait.
      </button>
    </div>
    <div
      *ngIf="stateManager.MTurkAssignmentId === 'ASSIGNMENT_ID_NOT_AVAILABLE'"
    >
      <button type="button" class="btn btn-info btn-lg" disabled>
        Please accept assignment to continue.
      </button>
    </div>
    <div
      *ngIf="
        !stateManager.loadingState &&
        stateManager.MTurkAssignmentId !== 'ASSIGNMENT_ID_NOT_AVAILABLE'
      "
    >
      <button
        type="button"
        class="btn btn-primary btn-lg"
        (click)="stateManager.goToNextAssessmentFromHome()"
      >
        START
      </button>
    </div>
  </div>
  <div *ngIf="stateManager.DEBUG_MODE">
    <div *ngIf="stateManager.inMobileBrowser">
      <p class="py-4 text-center">
        Debug: This is a mobile browser.
      </p>
      <div *ngIf="stateManager.IOSSafari">
        <p>
          Debug: This is a mobile Safari browser
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="stateManager.chromeiOs">
  <p>
    We do not support Chrome on the iOS platform. Please use Safari on your iOS
    device to use our site.
  </p>
</div>
