p {
  text-align: justify;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
  padding: 24px;
  strong{
    font-weight: bolder;
  }
}

.next-button {
  display: block;
  margin: 0 auto;
}
