<div *ngIf="!stateManager.chromeiOs">
  <p>Thank you for your interest in our research! The purpose of this study is to better understand the specific factors
    that contribute to individual differences in language ability. Approximately 5,000 people will take part in this
    study at the University of Iowa. All individuals must be over the age of eighteen.</p>
  <p>This is a demonstration. You are not actually participating in a study. To avoid participating in this
    demonstration, you may close out of this window at any point.</p>
  <p> Thank you very much for your consideration! To indicate your willingness to participate in this demonstration
    <b>please
      click the START button below.</b></p>
  <div class='pb-5 text-center'>
    <div *ngIf="stateManager.loadingState">
      <button type='button' class='btn btn-info btn-lg' disabled>
        Loading. Please wait.
      </button>
    </div>
    <div *ngIf="!stateManager.loadingState">
      <button type='button' class='btn btn-primary btn-lg'
        (click)="stateManager.goToNextAssessmentFromHome()">START</button>
    </div>
  </div>
  <div *ngIf="stateManager.inMobileBrowser">
    <p class="py-4 text-center">
      Debug: This is a mobile browser.
    </p>
  </div>
</div>

<div *ngIf="stateManager.chromeiOs">
  <p>
    We do not support Chrome on the iOS platform. Please use Safari on your iOS device to use our site.
  </p>
</div>
