    <p>Thank you for your interest in our research! The purpose of this study is to better understand the specific factors that contribute to individual differences in language ability. Approximately 5,000 people will take part in this study at the University of Iowa.  All individuals must be over the age of eighteen.</p>
    <p>Taking part in this research study is completely voluntary. If you decide not to be in this study, or if you stop participating at any time, you won’t be penalized or lose any benefits for which you otherwise qualify. To avoid participating in the study you may close out of this window at any point.</p>
    <p>Thank you very much for your consideration! To indicate your willingness to participate in the study, <b>please click the START button below.</b></p>
    <div class='pb-5 text-center'>
      <a [routerLink]="['assessments']">
      <button type='button' class='btn btn-primary'>Go to assessment</button></a>

