<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      In this task, you will see a line that moves around the outside of a circle. The speed of the line will change
      from trial to trial. When the line stops moving, click or tap the button, and it will turn blue. Click or tap it
      again after the amount of time you think it took the line to complete its course around the circle. We’ll have you
      do a trial run so you get the idea. Click or tap below when you’re ready to try it.
    </p>
    <div *ngIf="showExample" class="text-center">
      <img class="img-fluid" src="assets/in_use/examples/animations/timeduration_example.gif"
        style="margin-bottom: 20px; max-height: 350px;" />
    </div>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <div *ngIf="!stateManager.isInAssessment">
        <img *ngIf="!stateManager.finishedInstruction && stateManager.playingInstruction" style="max-height:85px;"
          class="img-fluid" src="assets/in_use/animations/random_waveform.gif">
        <button *ngIf="stateManager.finishedInstruction && !stateManager.playingInstruction" type="button"
          class="start-button btn btn-success"
          (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
        <button *ngIf="!stateManager.finishedInstruction && !stateManager.playingInstruction" type="button"
          class="start-button btn btn-success" (click)="stateManager.playInstructions()">
          Start Instruction
        </button>
      </div>
      <div *ngIf="stateManager.isInAssessment">
        <button type="button" class="start-button btn btn-success"
          (click)="advance()">{{stateManager.textOnInnerAssessmentButton}}</button>
      </div>
    </div>
  </div>
  <div class="text-center" *ngIf="showAnimation">
    <circle-progress (press)="toggle()" [responsive]="false" [percent]="displayPercentage" [radius]="radius"
      [outerStrokeWidth]="16" [innerStrokeWidth]="innerStrokeWidth" [outerStrokeColor]="outerStrokeColor"
      [innerStrokeColor]="innerStrokeColor" [animation]="canAnimate" [animationDuration]="animationDuration"
      [maxPercent]="100" [renderOnClick]="false" [showTitle]='false' [subtitle]="displaySubtitle" [showUnits]='false'
      [subtitleFontSize]='subtitleFontSize' [space]='currentSpace'>
    </circle-progress>
  </div>
  <div class="text-center">
    <div *ngIf="showAnimation"> {{currentTimeHeld}} </div>
  </div>
  <div>
    <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
  </div>
  <div *ngIf="showProgressAnimation && useCountdownBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <div class="text-center">
      Wait
    </div>
  </div>
  <div *ngIf="showCircleAnimation && useCountdownCircle">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
    <div class="text-center">
      Wait
    </div>
  </div>
</div>
