<div class="mx-lg-5">
  <div *ngIf="stateManager.showAssessmentFrontPage">
    <p class="py-4 text-center">
      You will see a line that moves around the outside of a circle. The speed of the line will change from trial to
      trial. Observe how long you think it takes for the line to move around the circle. When the line stops moving,
      you will be able to press the circle to begin a timer. When you think the timer has been enabled for as long as
      it
      took for the line to originally move around the circle, press the circle again to stop the timer. Watch the
      animation below
      to get the idea of what a trial will look like. Click the button when you’re ready to try it.
    </p>
    <div *ngIf="showExample" class="text-center">
      <img class="img-fluid" src="assets/in_use/examples/animations/timeduration_example.gif"
        style="margin-bottom: 20px;" />
    </div>
    <div *ngIf="stateManager.showInnerAssessmentButton" class="text-center button-down">
      <button *ngIf="!stateManager.isInAssessment" type="button" class="start-button btn btn-success"
        (click)="setStateAndStart()">{{stateManager.textOnInnerAssessmentButton}}</button>
      <button *ngIf="stateManager.isInAssessment" type="button" class="start-button btn btn-success"
        (click)="advance()">{{stateManager.textOnInnerAssessmentButton}}</button>
    </div>
  </div>
  <div class="text-center" *ngIf="showAnimation">
    <circle-progress (press)="toggle()" [responsive]="false" [percent]="displayPercentage" [radius]="radius"
      [outerStrokeWidth]="16" [innerStrokeWidth]="innerStrokeWidth" [outerStrokeColor]="outerStrokeColor"
      [innerStrokeColor]="innerStrokeColor" [animation]="canAnimate" [animationDuration]="animationDuration"
      [maxPercent]="100" [renderOnClick]="false" [showTitle]='false' [subtitle]="displaySubtitle" [showUnits]='false'
      [subtitleFontSize]='subtitleFontSize' [space]='currentSpace'>
    </circle-progress>
  </div>
  <div class="text-center">
    <div *ngIf="showAnimation"> {{currentTimeHeld}} </div>
  </div>
  <div>
    <p *ngIf="countingDown && useCountdownNumber" class="text-center display-1">{{timeLeft}}</p>
  </div>
  <div *ngIf="showProgressAnimation && useCountdownBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="showCircleAnimation && useCountdownCircle">
    <mat-spinner style="margin:0 auto;">
    </mat-spinner>
  </div>
</div>
